# This file is redundant with setup.cfg;
# it exists to let GitHub build the repository dependency graph
# https://help.github.com/en/github/visualizing-repository-data-with-graphs/listing-the-packages-that-a-repository-depends-on

geopandas >= 0.13
numpy >= 1.24
packaging >= 23.1
pooch >= 1.7
rasterio >= 1.3
shapely >= 1.8
xarray >= 2023.7
