name: CI Additional
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  min-version-policy:
    name: Minimum Version Policy
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: xarray-contrib/minimum-dependency-versions@v1.0.0
        with:
          policy: ci/minimum-dependency-versions-policy.yml
          environments: |
            ci/requirements/min-all-deps.yml
