name: CI
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: py${{ matrix.python-version }} ${{ matrix.env }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.12", "3.13"]
        env: [""]
        include:
          - env: "bare-minimum"
            os: "ubuntu-latest"
            python-version: "3.10"
          - env: "min-all-deps"
            os: "ubuntu-latest"
            python-version: "3.10"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Set environment variables
        run: |
          if [[ "${{ matrix.env }}" == "" ]]; then
            echo "CONDA_ENV_FILE=environment.yml" >> $GITHUB_ENV
          else
            echo "CONDA_ENV_FILE=${{ matrix.env }}.yml" >> $GITHUB_ENV
          fi

      - name: Create conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-downloads: true
          cache-downloads-key: "${{runner.os}}-${{runner.arch}}-py${{matrix.python-version}}-${{ env.CONDA_ENV_FILE }}"
          environment-file: "ci/requirements/${{ env.CONDA_ENV_FILE }}"
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install regionmask
        run: |
          python -m pip install --no-deps -e .

      - name: Import regionmask
        run: |
          python -c "import regionmask"
      - name: Run tests
        timeout-minutes: 5
        run: python -u -m pytest
          --cov=regionmask
          --cov-report=xml
          --junitxml=pytest.xml

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: RUNNER_OS,PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false
