name: linting
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: linting
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        # Bookend python versions
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: Create conda environment
        uses: mamba-org/provision-with-micromamba@v15
        with:
          environment-name: regionmask-linting
          micromamba-version: 'latest'
          environment-file: ci/requirements/environment.yml
          extra-specs: |
            python=${{ matrix.python-version }}
            black<23
            isort
            flake8
          channels: conda-forge

      - name: Install regionmask
        run: |
          python -m pip install --no-deps -e .

      - name: Version info
        run: |
          conda info -a
          conda list
      - name: Import regionmask
        run: |
          python -c "import regionmask"
      - name: isort
        run: isort --check .
      - name: black
        if: always()
        run: black --check .
      - name: flake8
        if: always()
        run: flake8 .

